
body {
    margin: 0;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #004d44;
    color: white;
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 100px;
    padding: 5px 5px;
}

.menu {
    display: flex;
    align-items: left;
}

.menu button {
    width : 3rem;
    background : transparent;
    border: none;
}

.logo {
    align-items: left;
    margin: 35px 4px;
}

.menu_list{
    z-index: 1;
    background-color: rgba(50, 50, 50, 1);
    width: 350px;
    height: 100vh;
    color: #FFFFFF;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all ease-in-out 250ms;
}

.menu_list ul {
    position: fixed;
    top: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.menu_list ul li {
    margin: 20px auto;
    text-align: center;
}

.menu_list ul li a {
    text-decoration: none;
    color: white;
}

.open {
    display: flex;
    transform: translateX(0%);
}

.close_button {
    width : 3rem;
    background : transparent;
    border: none;
    position: fixed;
    top: 35px;
    left: 5px;
}

.close_button img {
    width : 30px;
    height: 30px;
}

h1 {
    width: 95%;
    margin: 20px auto;
}

p {
    width: 95%;
    margin: 20px auto;
}

.menuicon {
    background-color: #004d44;
    height: 20px;
    width: auto;
    position: relative;
    top: 4px;
    z-index: 0;
}

.minnesota_with_pin {
    width: 100vw;
    height: auto;
    align-items: center;
}

.main-mobile{
    color: black;
    text-align: left;
}

.main-mobile h1{
    text-align: center;
    font-weight: 200;
    padding-top: 0px;
}
.main-mobile h3{
    text-align: left;
    font-weight: 200px;
    text-decoration: underline;
    padding-left: 3%;
}

.main-mobile ul li{
    padding-top: 10px;
}

.main-mobile p{
    padding-bottom: 0px;
    margin-bottom: 0%;
}

.main-mobile p{
    text-align: left;
    font-weight: 200;
    padding-left: 0%;
    padding-right: 0%;
}

.main-mobile ul{
    text-align: left;
    font-weight: 200;
    margin-left: 10%;
}

.main-mobile button{
    text-align: center;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 95%;
    margin: 0 auto;
}

ul {
    width: 95%;
    margin: 10px auto;
}

li {
    margin: 5px auto;
}

h4 {
    width : 95%;
    margin : 20px auto;
}

.msImage {
    width: 100px;
    float: right;
    position: flex;
}

.msjobBody {
    padding-top: 40px;
}

.apply_button {
    width: 50%;
    height: 30px;
}


/* (Josh S.) GIS related job files */
.FullAppJ {
    text-align: left;
    text-size-adjust: 12px;
}

.FullAppJ h2 {
    text-align: center;
    text-size-adjust: 24 px;
}

.IFR {
    display: block;
    Margin: auto;
    width: 24%;
}

.FullAppB {
    text-align: left;
}

.FullAppB h3 {
    text-align: left;
    text-size-adjust: 20px;
}

.Btext {
    align-items: center;
    font-style: italic,Bold;
}

.BtextSP {
    text-align: center;
}